@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Oleo+Script:wght@400;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Marcellus&family=Oleo+Script:wght@400;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bebas+Neue&family=Marcellus&family=Oleo+Script:wght@400;700&family=Satisfy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
    background-color: white;
    color: #2A2828;
}
::-webkit-scrollbar{
   width: 7px;
   height: 7px;
   background-color: #2A2828;
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}
/* In your Tailwind CSS configuration file */
  
.row-div{
    width: calc(200vw/5);
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.page1{
    width: 100%;
    height: 100vh;
}
.img-div{
    width: 100%;
    height: calc(100%/4);
    border-radius: 10px;
    overflow: hidden;
}
#r2{
    margin-top: -5%;
}
#r3{
    margin-top: -8%;
}
#r4{
    margin-top: -12%;
}
#r5{
    margin-top: -15%;
}
