<!DOCTYPE html>
<html>
  <head>
    <title>Nexus</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Nexus</h1>
    <p>Welcome to Nexus</p>
  </body>
</html>
