# Dependency directories
/node_modules

# Environment variables
.env

# Build files
/build
/public

# Logs
*.log

# IDE files (if you're using VSCode)
.vscode

# OS-specific files
.DS_Store
Thumbs.db
